.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
  margin: 58px;
}

.title {
  color: white;
  margin-bottom: 10px;
  text-shadow: 0px 0px 1px white;
}

.inputField {
  margin: 10px;
}

.counter-block {
  margin-top: 20px;
  font-size: 18px;
  color: white;
  margin: 70px;
}

.info {
  color: white;
  font-size: 16px;
  margin: 10px;
}
